<section class="block-contact block">
  <div class="block__header constraint">
    <h2 class="block__heading">Contact</h2>
    <p class="block__text">We are born to create</p>
  </div>
  <div class="block-contact__content constraint">
    <p class="block-contact__label">Feel free to drop us a line at:</p>
    <a class="block-contact__email" href="mailto:bensadokishak@gmail.com"
      >bensadokishak@gmail.com</a
    >
    <div class="container">
      <span class="block-contact__networks">Find Us On Social Networks</span>
      <span class="block-contact__icons">
        <i class="icon fa-brands fa-twitter"></i>
        <i class="icon fa-brands fa-square-instagram"></i>
        <i class="icon fa-brands fa-facebook"></i>
      </span>
    </div>
  </div>
</section>
