<section class="block-Services block constraint">
  <div class="block__header">
    <h2 class="block__heading">Services</h2>
    <p class="block__text">Don't be busy, be productive</p>
  </div>

  <div class="grid block-Services__content">
    <!-- ------------ -->
    <div class="media media--flex">
      <i class="icon fas fa-palette fa-2x"></i>
      <div class="media__body">
        <h3 class="media__heading">Graphic Design</h3>
        <p class="media__description">
          Graphic design is the process of visual communication and
          problem-solving using one or more of typography, photography and
          illustration.
        </p>
      </div>
    </div>
    <!-- ------------ -->
    <div class="media media--flex">
      <i class="icon fas fa-vector-square fa-2x"></i>
      <div class="media__body">
        <h3 class="media__heading">Web Design</h3>
        <p class="media__description">
          Web design encompasses many different skills and disciplines in the
          production and maintenance of websites.
        </p>
      </div>
    </div>
    <!-- ------------ -->
    <div class="media">
      <img class="block-Services__image" src="images/services.jpg" alt="" />
    </div>
    <!-- ------------ -->
    <div class="media media--flex">
      <i class="icon fab fa-sketch fa-2x"></i>
      <div class="media__body">
        <h3 class="media__heading">UI & UX</h3>
        <p class="media__description">
          Process of enhancing user satisfaction with a product by improving the
          usability, accessibility, and pleasure provided in the interaction.
        </p>
      </div>
    </div>
    <!-- ------------ -->
    <div class="media media--flex">
      <i class="icon fas fa-pencil-ruler fa-2x"></i>
      <div class="media__body">
        <h3 class="media__heading">Web Development</h3>
        <p class="media__description">
          Web development is a broad term for the work involved in developing a
          web site for the Internet or an intranet.
        </p>
      </div>
    </div>
    <!-- ------------ -->
  </div>
</section>
<!-- ------------------------------------- -->
