<section class="block-feature">
  <div class="grid constraint">
    <div class="media">
      <i class="icon fa-solid fa-wand-magic-sparkles fa-3x"></i>
      <div class="media__body">
        <h3 class="media__heading">Tell Us Your Idea</h3>
        <p class="media__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut lab
        </p>
      </div>
    </div>
    <!-- ------------------------------------- -->
    <div class="media">
      <i class="icon far fa-gem fa-3x"></i>
      <div class="media__body">
        <h3 class="media__heading">We Will Do All The Work</h3>
        <p class="media__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut lab
        </p>
      </div>
    </div>
    <!-- ------------------------------------- -->
    <div class="media">
      <i class="icon fas fa-globe-asia fa-3x"></i>
      <div class="media__body">
        <h3 class="media__heading">Your Product is Worldwide</h3>
        <p class="media__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut lab
        </p>
      </div>
    </div>
  </div>
</section>
