<section class="block-Portfolio block">
  <div class="constraint">
    <div class="block__header">
      <h2 class="block__heading">Portfolio</h2>
      <p class="block__text">If you do it right, it will last forever.</p>
    </div>
    <div class="grid block-Portfolio__content">
      <div class="media media--image">
        <div class="media__image">
          <img src="images/portfolio-1.jpg" alt="" />
        </div>
        <div class="media__body">
          <h3 class="media__heading">Project Here</h3>
          <p class="media__description">
            My creative ability is very difficult to measure because it can
            manifest in so many surprising and.
          </p>
        </div>
      </div>
      <!-- ---------------------- -->
      <div class="media media--image">
        <div class="media__image">
          <img src="images/portfolio-2.jpg" alt="" />
        </div>
        <div class="media__body">
          <h3 class="media__heading">Project Here</h3>
          <p class="media__description">
            My creative ability is very difficult to measure because it can
            manifest in so many surprising and.
          </p>
        </div>
      </div>
      <!-- ---------------------- -->
      <div class="media media--image">
        <div class="media__image">
          <img src="images/portfolio-3.jpg" alt="" />
        </div>
        <div class="media__body">
          <h3 class="media__heading">Project Here</h3>
          <p class="media__description">
            My creative ability is very difficult to measure because it can
            manifest in so many surprising and.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
