<header>
  <nav class="nav-bar">
    <img class="nav-bar__logo" src="images/logo.png" alt="" />
    <div class="nav-bar__group">
      <div class="nav-bar__icon">
        <span class="line"></span>
        <span class="line line-2"></span>
        <span class="line"></span>
      </div>
      <ul class="list">
        <li class="list__item"><a href="">Services</a></li>
        <li class="list__item"><a href="">Portfolio</a></li>
        <li class="list__item"><a href="">About</a></li>
        <li class="list__item"><a href="">Contact</a></li>
      </ul>
    </div>
  </nav>
</header>
