<section class="block constraint">
    <div class="block__header">
      <h2 class="block__heading">Services</h2>
      <p class="block__text">
        Don't be busy, be productive
      </p>
    </div>
  </section>
<!-- ----------------------------------- -->
<section class="block constraint">
    <div class="block__header">
      <h2 class="block__heading">Portfolio</h2>
      <p class="block__text">
        If you do it right, it will last forever.
      </p>
    </div>
  </section>
  <!-- ----------------------------------- -->
  
  <section class="block constraint">
    <div class="block__header">
      <h2 class="block__heading">About
      </h2>
      <p class="block__text">
        Less is more work
      </p>
    </div>
  </section>
  
  <!-- ----------------------------------- -->
  
  <section class="block constraint">
    <div class="block__header">
      <h2 class="block__heading">Contact
      </h2>
      <p class="block__text">
        We are born to create
      </p>
    </div>
  </section>