<div class="media">
  <i class="icon fa-solid fa-wand-magic-sparkles fa-3x"></i>
  <div class="media__body">
    <h3 class="media__heading">Tell Us Your Idea

  </h3>
    <p class="media__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut lab
    </p>
  </div>
</div>
<!-- ------------------------------------ -->

<div class="media media--flex">
  <i class="icon fab fa-sketch fa-2x"></i>
  <div class="media__body">
    <h3 class="media__heading">UI & UX
  </h3>
    <p class="media__description">
      Process of enhancing user satisfaction with a product by improving the usability, accessibility, and pleasure provided in the interaction.          </p>
  </div>
</div>
<!-- ------------------------------------ -->
<div class="media media--image">
  <div class="media__image">
     <img src="images/portfolio-1.jpg" alt="">
  </div>
  <div class="media__body">
    <h3 class="media__heading">Project Here
  </h3>
    <p class="media__description">
      My creative ability is very difficult to measure because it can manifest in so many surprising and.
    </div>
</div>